/*
 * Estilos de tu proyecto
 */
 body{
     font-family: Montserrat;
    font-size: 15px;
    line-height: 1;
    color: #333447;
    margin: 0;
    padding: 0;
 }



.lyft_img{
    display: block;
    padding-left: 32px;
    text-align: left;
    padding-right: 647px;
    width: 70px;
    position: relative;
    top: 20px;
 }

 nav{
     top: 0;
     left: 0;
     right: 0;
     position: fixed;
    background-color: transparent;
    z-index: 1

}


li{
    display: inline-block;
}


 .menu2 a{
     box-sizing: border-box;
    display: inline-block;    
    color: white;
    font-size: 20px;
    padding: 24px;
    text-decoration: none;

 }

 .menu2{
     display: inline;
 }

.container1{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.hero{
    width: 100%;
    height: 764px;
}

 h1, h2{
     color: #352384;
     font-size: 40px;
     text-transform: uppercase;    
    font-weight: 700;
    line-height: 10px;
 }


.firstp p{
    text-transform: uppercase;
    font-size: .875rem;
    letter-spacing: 1.5px;
    color: #4e4191;
}
 .form1{
     background-color: white;
     position: absolute;
     width: 465px;
    height: 335px;
    top: 112px;
    right: 0;
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
    line-height: 16px;
 }

.secondp p{
	color: #78859d;
	border-bottom: 1px solid #393684;
	padding-bottom: 15px;

}

.button1{
	display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: .08333rem solid transparent;
    padding: .75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
	background-color: #FF00BF;
    color: white;
    font-size: 20px;
    margin-right: 30px;
    
}

#link1{
	text-decoration-style: none;
	color: #78859d;
	font-size: 20px;
}

.secondp{
	margin-top: 50px;
}
.small{
	margin-top: 25px;
}
.small p{
	color: #acb4c2;
	text-transform: inherit;
	font-size: 12px;
}

.container2{
	width: 100%;
	height: 640px;
	background: linear-gradient(to left bottom, #76278F, #2B1E66);
	
	margin-top: -2px;
}

.row1{
	padding: 64px 15px;
	width: 100%;
}

.column1{
	padding: 0 16px;
	width: 40%;
	height: 100px;
}

.column2{
	height: 100px;
	width: 60%;
	padding: 0 15px;
}